div {
    text-align: center;
    margin: 20px;
  }
  h1 {
    color: #333;
  }
  p {
    color: #777;
}
  button {
    padding: 10px;
    background-color: #61dafb;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  button:hover {
    background-color: #4fa3d1;
  }
  